body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: rgb(200, 200, 200);
}

.titre_page {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: darkslategrey;
    text-align: center;
}

#htmlTextarea {
    cursor: url(/Img/HtmlCursor.svg), auto;
}

#cssTextarea {
    cursor: url(/Img/CssCursor.svg), auto;
}

#jsTextarea {
    cursor: url(/Img/JsCursor.svg), auto;
}